body {
  background: rgb(34, 1, 71)
}

h1 {
  color: rgb(212, 180, 253);
  font-family: 'fly-boy';
  font-size: 100px;
}

h2 {
  color: rgb(200, 164, 248);
  font-family: 'semi-coder';
  font-size: s;
}

h3 {
  color: rgb(101, 13, 160)
}

h4 {

  color: rgb(134, 47, 185);
  font-family: 'semi-coder';

}

h5 {
  color: rgb(93, 5, 194);
  text-align: center;
  font-size: xx-large;
  font-family: 'semi-coder';
}

h6 {
  color: rgb(147, 44, 216);
  font-size: medium;
}

p {
  color: rgb(145, 43, 204);
}

td {
  color: rgb(109, 8, 177);
}

thead {
  text-align: center;
  margin-left: 40%;
}

.a {
  font-family: 'semi-coder';
  color: rgb(97, 9, 148);
  ;
}

.b {
  font-family: 'semi-coder';
}

.y {
  background-color: rgb(16, 1, 29);
  color: rgb(97, 9, 148);
  font-family: 'semi-coder';
}

.r {
  background-color: rgb(16, 1, 29);
  color: rgb(97, 9, 148);
  font-family: 'semi-coder';
  height: 25px;
  width: 25px;
}

.v {
  background-color: rgb(106, 6, 116);
  height: 25px;
  width: 25px;
}

.j {
  color: rgb(255, 0, 76);
}

.k {
  color: rgb(255, 136, 0);
}

.m {
  color: rgb(0, 255, 98);
}

.f {
  color: rgb(97, 9, 148);
}

.white {
  color: rgb(97, 9, 148);
  font-family: 'semi-coder';
}

.amarelo {
  color: rgb(95, 3, 138);
}

.yellow {
  color: rgb(97, 9, 148);
}

.checkbox {
  color: rgb(124, 19, 194);

  font-family: 'semi-coder';
}

.checkbox-input {
  position: absolute;
  opacity: 0;

}

.btnquefazsumir {
  background-color: transparent;
  border: transparent;
  margin-left: 1%;
  color: rgb(105, 10, 230);
  font-family: 'semi-coder';
  font-size: medium;

}

.classe {
  display: none;
}

.historia {
  font-family: "semi-coder";
  color: rgb(97, 9, 148);
}

.story {
  font-family: "semi-coder";
  color: rgb(97, 9, 148);

}

.backstory {
  font-family: "semi-coder";
  color: rgb(97, 9, 148);

}

.central {
  text-align: center;
}

.lua {
  margin-top: -5%;
  opacity: 40%;
  width: 30%;
  height: 50%;
  border-radius: 180%;
  position: static;
}

.luuaa {
  margin-top: -5%;
  opacity: 40%;
  width: 30%;
  height: 50%;
  border-radius: 180%;
  position: static;

}

textarea#story {
  background-color: rgb(16, 1, 29);
  color: rgb(97, 9, 148);
  font-family: 'semi-coder';
  font-size: medium;
}

textarea#backstory {
  background-color: rgb(16, 1, 29);
  color: rgb(97, 9, 148);
  font-family: 'semi-coder';
  font-size: medium;
}

textarea#historia {
  background-color: rgb(16, 1, 29);
  color: rgb(97, 9, 148);
  font-family: 'semi-coder';
  font-size: medium;
}

textarea#blablabla {
  background-color: rgb(16, 1, 29);
  color: rgb(97, 9, 148);
  font-family: 'semi-coder';
  font-size: medium;
}

textarea#blablablabla {
  background-color: rgb(16, 1, 29);
  color: rgb(97, 9, 148);
  font-family: 'semi-coder';
  font-size: medium;
}

textarea#teorias {
  background-color: rgb(16, 1, 29);
  color: rgb(97, 9, 148);
  font-family: 'semi-coder';
  font-size: medium;
}

textarea#pessoas {
  background-color: rgb(16, 1, 29);
  color: rgb(97, 9, 148);
  font-family: 'semi-coder';
  font-size: medium;
}

textarea#hatsuss {
  background-color: rgb(16, 1, 29);
  color: rgb(97, 9, 148);
  font-family: 'semi-coder';
  font-size: medium;
}

.blablabla {
  font-family: "semi-coder";
  color: rgb(97, 9, 148);
}

textarea {
  resize: both;
  overflow: hidden;
}

.tabela {
  border: 10px;
  border-style: solid;
}

.setDiceValue {
  display: inline-block;
}

.dado {
  position: absolute;
  height: 30px;
  margin-left: 200px;
  color: rgb(97, 9, 148);
  background-color: transparent;
}